/* @tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
	.sidebar {
		width: 100%;
	}
	.sidebar .w-64 {
		width: 240px; 
	}
	.sidebar .w-20 {
		width: 80px;
	}
}

.date-input{
    color: white;
}


.logo{
	width: 160px;
	height: 50px!important;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: theme("fontFamily.sans") !important;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
  .sidebar .w-64 {
    width: 240px;
  }
  .sidebar .w-20 {
    width: 80px;
  }
}

.date-input {
  color: white;
}

.logo {
  width: 160px;
  height: 50px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.date-black-icon::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
